@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600&family=Open+Sans:ital,wght@0,400;1,300;1,400&family=Orbitron:wght@400;500;600;700;800;900&family=Poppins:wght@300;400;500;600;700;800;900&family=Roboto:ital,wght@0,500;0,700;0,900;1,400;1,500;1,700;1,900&family=Ubuntu:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Orbitron', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding-top: 3rem;
    background-color: #f1f1f1;
    height: 100vh;
}

.container h1 {
    color: #175cff;
}

.timer {
    display: flex;
    font-size: 55px;
    font-weight: bold;
    color: #333;
}

.time {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px ;
    min-width: 90px;
}

.separator {
    padding: 0 10px;
    color: #525763;
}

#milliseconds {
    font-size: 30px;
    color: #525763;
}

.buttons {
    display: flex;
    gap: 1rem;
}

.btn {
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 30px;
    cursor: pointer;
    border: 1px solid #ccc;
    transition: all 0.2s ease-in-out;
}



